.body{
    height: 100%;
    margin: 0;
}

.Eventpage{
    min-height: 100%;
    position: relative;
    
}
.marginpage{
    margin-left: 5vh;
    margin-right: 5vh;
    
}
.paddingPageF{
    padding-bottom: 20%;
}

@media (max-width: 800px){
    .paddingPageF{
        padding-bottom: 30%;
    }
}

/* topic */
.TopicEP{
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 1.7rem;
}

/* EventSection*/
.eventContainerEP{
    background-color: #CBD4D5;
    padding: 3%;
    font-family: 'Archivo', sans-serif;
}
.eventPreveiew1stEP{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.eventPreveiew2ndEP{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.eventPreveiew3rdEP{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.eventPreveiew4thEP{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.eventPictureEP{
    width: 200px;
}
.eventButtonEP{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1vh;
    text-decoration: underline;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}
.eventButtonEP:hover {
    color: white;
    border-color: blue;
}


