.body{
    height: 100%;
    margin: 0;
}

.Exhibitionpage{
    min-height: 100%;
    position: relative;
    
}
.marginpage{
    margin-left: 5vh;
    margin-right: 5vh;
}
.paddingPageF{
    padding-bottom: 20%;
}

@media (max-width: 800px){
    .paddingPageF{
        padding-bottom: 30%;
    }
}